<div style="height: 525px;" class="main">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Adipiscing elit duis tristique sollicitudin nibh. Sit amet facilisis magna etiam tempor orci eu. Ante in nibh mauris cursus. Augue lacus viverra vitae congue. Lobortis mattis aliquam faucibus purus in massa. Sit amet consectetur adipiscing elit ut aliquam. Elementum pulvinar etiam non quam lacus suspendisse. Egestas diam in arcu cursus euismod quis viverra nibh. Praesent elementum facilisis leo vel fringilla est. Sed augue lacus viverra vitae congue eu. Morbi blandit cursus risus at ultrices mi. Vel pharetra vel turpis nunc. Nec ultrices dui sapien eget mi proin sed libero. 
        Urna porttitor rhoncus dolor purus. Pharetra magna ac placerat vestibulum lectus.
        
    </p>
</div>
